- if @invoices.size > 0
  %h2 Your invoices
  %table.table.table-striped
    %thead 
      %tr
        %td #
        %td From
        %td To
        %td Due Date
        %td Amount
        %td
    - @invoices.each do |invoice|
      %tr.invoice
        %td= invoice.id
        %td= invoice.period_start.to_date
        %td= invoice.period_end.to_date
        %td= invoice.due_on.to_date
        %td= "$%.2f" % invoice.amount
        %td
          &nbsp;
          - if invoice.paid?
            %span.label.label-success Settled
          - elsif invoice.deleted?
            %span.label Waived
          - elsif invoice.due_on < Time.now
            %span.label.label-warning Overdue
          - else
            %span.label.label-warning Pending
        

